* {
     margin: 0;
    padding: 0;
}

body {
   
    text-align: center;
    color: #898f99;
}

.header {
  outline: 1px solid red;
}

.who__we__are {
    font-size: 12px;
  }

  h1 {
      color: #0ec8cb;
      font-size: 48px;
  }

  .wrapper {
      font-size: 18px;
  }

  .container {
      display: flex;
      justify-content: space-around;
      outline: 1px solid red;
  }

  h2 {
    text-transform: uppercase;

  }

  .items {
      width: 240px;
      height: 420px;
      margin-top: 110px;
      outline: 1px solid red;
    }
    
    img {
    margin-bottom: 44px;
  }

  .text {
      margin-top: 32px;
  }

  .items:hover {
      background-color: #27b4b6;
      color: white;
  }


  span {
      width: 64px;
  }