* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-fresh-life {
    font-family: Raleway, sans-serif;
    background: url(images/bg1.jpg);
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 65px;
}

.header__container {
    justify-content: space-between;
}

.nav-header__item {
    display: inline-block;
    margin-left: 35px;
}

.nav-header__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
    font-weight: bold;
    font-size: 16px;
    transition: all .5s;
}

.nav-header__link:hover {
    border-top: 3px solid #ff6033;
    padding-top: 8px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
}

.section-fresh-life-container {
    flex-direction: column;
    margin-top: 260px;
}

.container__title {
    font-size: 60px;
    font-weight: 800;
}

.container__paragraph {
    font-size: 17px;
    margin-top: 30px;
    line-height: 1.6em;
}

.container__btn {
    width: 200px;
    height: 55px;
    background: #ff6033;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin: 30px 0 0;
    text-transform: uppercase;
    border: none;
    box-shadow: 0px 3px 4px 0px black;
    transition: all .5s;
    cursor: pointer;
}

.container__btn:hover {
    color: rgb(85, 43, 12);
    border-radius: 10px;
}

.container__btn:active {
    background: #997d75;
}

.section-fresh-ife__scroll {
    display: block;
    margin: 250px auto 0;
}

.section {
    background: url(images/bg2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 8%;
    background-color: #00bcbc;
    padding: 180px 0 225px;
}

.section__desc-container {
    color: #fff;
    justify-content: flex-end;
}

.description-block__title {
    font-size: 90px;
}

.description-block__paragraph, .description-block__paragraph2 {
    line-height: 1.6em;
}

.description-block__paragraph2 {
    margin-top: 20px;
}